{
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:@next/next/recommended"
  ],
  "plugins": [
    "eslint-plugin-import-helpers"
  ],
  "rules": {
    "react/react-in-jsx-scope": "off",
    "jsx-quotes": [
      "error",
      "prefer-double"
    ],
    "indent": [
      "error",
      2
    ],
    "no-console": [
      "warn",
      {
        "allow": [
          "warn",
          "error"
        ]
      }
    ],
    "semi": [
      "error",
      "always"
    ],
    "quotes": [
      "error",
      "single"
    ],
    "prefer-const": "warn",
    "import-helpers/order-imports": [
      "warn",
      {
        "newlinesBetween": "always",
        "groups": [
          "module",
          [
            "parent",
            "sibling",
            "index"
          ],
          "/^@components/",
          "/^@utils/",
          "/^@theme/",
          "/^@public/"
        ],
        "alphabetize": {
          "order": "asc",
          "ignoreCase": true
        }
      }
    ],
    "no-undef": "off"
  },
  "parser": "@typescript-eslint/parser"
}
